header{
    position: sticky;
    top: 0;
    z-index: 10;
    .navigation{
        background: #fff;
        .navbar-nav .nav-link{
            color: #232323;
        }
        .navbar-brand{
            text-transform: uppercase;
            font-family: 'BEYNO', sans-serif;
            font-size: 30px;
            .violet{
                color: #503392;
            }
            .blue{
                color: #11a4dc;
                margin-left: -10px;
            }
        }
        .nav-item{
            padding-right: 50px;
            &:nth-child(4){
                padding-right: 35px;
            }
        }
        form{
            #search{
                background: rgba(196, 196, 196, 0.192);
            }
            #search_button{
                margin-left: -60px;
                border: none;
                background: rgba(196, 196, 196, 0);
                color: #5d6264;
            }
        }
        .dropdown-menu{
            border-radius: 0;
            margin-top: 15.9px;
            margin-left: 5px;
            border-top: 2px solid #fff200;
            background: #000;
            opacity: 0.7;
            .dropdown-item{
                color: #fff;
                font-weight: 300;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                &:hover{
                    color: #fff200;
                    background: inherit;
                }
                .fa-chevron-right{
                    font-size: 9px;
                }
                .fa-angle-double-right{
                    font-size: 10px;
                }
            }
        }
        .drop {
            position: relative;
            display: inline-block;
            &:hover .dropdown-content{
                display: block;
            }
        }
        .dropbtn{
            width: 160px;
        }
        .dropdown-content {
            border-radius: 0;
            border-top: 2px solid #fff200;
            background: #000;
            opacity: 0.9;
            display: none;
            position: absolute;
            min-width: 160px;
            margin-left: 161px;
            margin-top: -30px;
            a{
                color: #fff;
                text-decoration: none;
                display: block;
                padding-top: 10px;
                padding-left: 20px;
                font-weight: 300;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                .fa-chevron-right{
                    font-size: 9px;
                } 
                &:last-child{
                    padding-bottom: 10px;
                }
                &:hover{
                    color: #fff200;
                }
            }
        }
    }
    
    
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
.carousel-item{
    text-align: center;
    img{
        position: relative;
    }
    .inner_info{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .title{
        font-family: 'Lato', sans-serif;
        font-size: 64px;
        font-weight: bold;
        text-transform: uppercase;
        .reg{
            color: #fff;
        }
        .yell{
            color: #fff200;
        }
    }
    p{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        line-height: 2;
        padding-top: 15px;
        max-width: 720px;
        width: 100%;
    }
}
.textalign{
    .products{
        text-align: left;
    }
}
.about{ 
    .title_about{
        text-align: center;
        padding-top: 100px;
        font-size: 35px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        .reg{
            color: #373737;
        }
        .blue{
            color: #11a8ff;
        }

    }
    p{
        text-align: center;
        color: #999999;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 80px;
        max-width: 690px;
        margin: 0 auto;
        
    }
    .about_items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 115px;
        .about_item{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            height: 270px;
            border: 1px solid rgba(128, 128, 128, 0.445);
            border-radius: 2px;
            margin-bottom: 115px;
            overflow: hidden;
            .info{
                position: relative;
            }
            .see_more{
                position: absolute;
                display: none;
                bottom: 0;
                background-color: #503392;
                width: inherit;
                height: 55%;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                h5{
                    padding-top: 30px;
                    text-align: center;
                }
                .more_refs{
                    text-align: center;
                    span{
                        padding: 15px;
                    }
                }
            }
            &:first-child{
                &:hover{
                    .info{
                        display: none;
                    }
                    .see_more{
                        display: block;
                    }
                }
            }
            img{
                margin-top: 30px;
                margin-bottom: 45px;
            }
            h4{
                text-transform: uppercase;
                font-size: 14px;
                font-family: 'Lato', sans-serif;
                font-weight: 800;
                color: #232323;
                padding-bottom: 5px;
                text-align: center;
            }
            p{
                padding: 0;
            }
        }
        .col-md-12{
            max-width: 300px;
            margin: 0 auto 20px auto;
            
        }
        
    }
    
}
.products{
    background-image: url(../img/prodbg.png);
    background-size: cover;
    min-height: 110vh;
    .overlay_about{
        background-image: url(../img/overlay3.png);
        background-position: top;
        background-repeat: no-repeat;
        height: 160px;
        .title{
            text-align: center;
            padding-top: 30px;
            font-size: 35px;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            .reg{
                color: #fff;
            }
            .yell{
                color: #e7ff11;
            }
        }
    }
    .first_row{
        padding: 110px 0 100px 0;
    }
    @media screen and (max-width: 770px){
        .first_row{
            padding: 110px 0 40px 0;
        }
        .second_row{
            .product_item{
                img{
                    padding-bottom: 40px;
                }
                &:first-child{
                    padding-top: 80px;
                }
            }
        }
    }
    @media screen and (max-width: 990px){
        .product_item{
            img{
                padding-bottom: 20px;
            }
        }
        .first_row{
            padding: 110px 0 30px 0;
        }
        .second_row{
            padding-bottom: 0;
            .product_item{
                padding-bottom: 0;
            }
        }
    }
    .col-sm-12{
        padding-bottom: 30px;
    }
    .product_item{
        img{
            float: left;
            margin-right: 30px;
        }
        h2{
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            font-weight: 800;
            color: #232323;
        }
        h3{
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #503392;
        }
        p{
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: #373737;
        }
    }
}
.skills{
    .percentage{
        max-width: 555px;
        .title{
            padding-top: 100px;
            padding-bottom: 20px;
            font-family: 'Lato', sans-serif;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            .blue{
                color: #009dda;
            }
            .reg{
                color: #373737;
            }
        }
    }
    .iPad{
        padding-top: 170px;
        position: absolute;
        right: 0;
        max-width: 335px;
    }
    .toright{
        position: relative;
    }
    .stack{
        .spaced_words{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            span{
                color: #444444;
                font-size: 13px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
            }
        }
        .percentof{
            border: 1px solid #dddddd;
            height: 7px;
            margin-bottom: 35px;
            position: relative;
        }
    }
    .text{
        p{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #999999;
            &:last-child{
                padding: 50px 0;
                color: #373737;
            }
        }
    }
    @media screen and (max-width: 1200px){
        .iPad{
            display: none;
        }
    }
    .transition{
        position: absolute;
        left: 0;
        top: 10%;
        margin-left: 1px;
        width: 0%;
        transition: width 2s;
        height: 4px;
        background-color: #009dda;
    }
    &:hover{
        #one{
            width: 79%;
        }
        #two{
            width: 90%;
        }
        #three{
            width: 69%;
        }
        #four{
            width: 92%;
        }
    }
}
.contacts{
    .title{
        padding-top: 170px;
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        .reg{
            color: #232323;
        }
        .blue{
            color: #009dda;
        }
    }
    .describe{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
        padding-bottom: 75px;
        max-width: 690px;
        margin: 0 auto;
        text-align: center;
    }
    #googlemaps{
        position: relative;
        z-index: 0;
    }
    #form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 30;
    }
    #contactform{
        background-color: rgba(0, 0, 0, 0.63);
        max-width: 945px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 65px;
    }
    form{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #b7b7b7;
        .first_line{
            input{
                border: 1px solid #b7b7b7;
                background-color: inherit;
                max-width: 240px;
                width: 100%;
                height: 50px;
                color: #fff;
                padding: 18px;
                overflow: hidden;
                @media screen and (max-width: 992px){
                    width: 100%;
                    max-width: 490px;
                }
                &:last-child{
                    margin-left: 6px;
                    @media screen and (max-width: 992px){
                        margin-left: 0;
                        margin-top: 5px;
                    }
                }
                &::placeholder{
                    color: #b7b7b7;
                    padding-left: 18px;
                }
            }
        }
        .second_line{
            textarea{
                border: 1px solid #b7b7b7;
                background-color: inherit;
                max-width: 490px;
                width: 100%;
                height: 145px;
                margin: 10px 0;
                color: #fff;
                padding: 18px;
                overflow: hidden;
                &::placeholder{
                    color: #b7b7b7;
                    padding-left: 18px;
                }
            }
        }
        .third_line{
            display: flex;
            justify-content: space-between;
            label{
                padding-top: 10px;
                padding-left: 30px;
            }
            #check{
                position: relative;
                display: none;
            }
            .checkbox{
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid #b7b7b7;
                bottom: 17px;
                left: 15px;
            }
            input[type=checkbox]:checked ~ .checkbox{
                background-color: #ffff00;
            }
        }
        
        #submit{
            border: none;
            background-color: #ffff00;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            max-width: 120px;
            width: 100%;
            height: 50px;
            margin-right: 22px;
            padding: 0;
            @media screen and (max-width: 1200px){
                margin-right: 14px;
            }
            @media screen and (max-width: 992px){
                margin-right: 0;
            }
        }
    }
    .contact_info{
        a{
            color: #fff;
            font-family: 'Meriad Pro', sans-serif;
            display: block;
            padding-left: 70px;
            text-decoration: none;
            &:hover{
                color: #ffff00;
            }
            &:first-child{
                margin-bottom: 30px;
            }
            &:nth-child(3){
                margin-bottom: 30px;
            }
        }
    }
}
footer{
    width: 100%;
    min-height: 60px;
    color: #fff;
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    span{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #7a7a7a;
        &:first-child{
            padding-left: 10px;
        }
    }
}

